* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Oxygen', sans-serif;
    color: #FBF7F0;
}

body {
    background: linear-gradient(to bottom, #21c08b 3%, #8f57fe 97%);

}

header {
    display: flex;
    justify-content: space-between;
    height: 100px;
    width: 100%;
    /* padding: 1rem 3rem 0 2rem;  */
}

.header__img {
    width: 200px;
    margin: 18px 30px;
}

.login {
    min-height:calc(100vh - 200px);
    display:flex;
        justify-content: center;
}

.login__container {
    position: relative;
    display: flex;
        flex-direction: column;
        place-content:  center space-around;
        align-items: center;
    max-height: 1000px;
    width: 436px;
    padding: 60px 68px 40px;
    border: 3px solid #FBF7F0;
    border-radius: 40px;
    background-color: rgba(255, 255, 255, 0.1);


}

.login__container h2 {
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 1px;
    width: 100%;
    text-align: start;
}

.login__container--form {
    display: flex;
        flex-direction: column;
        place-content:  center space-around;
        align-items: center;
    height: 50%;
    width: 100%;
}

.login__container--remember-me {
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* margin-top: 10px; Solo si no uso space-around en el justify content del padre */
    text-align: center;
}

.login__container--form  label {
    font-size: 14px;
}

.login__container--remember-me a {
    font-size: 14px;
    text-decoration: none;
    color:#FBF7F0;
}

.login__container--remember-me a:hover {
    
    text-decoration: underline;
}

.login__container--social-media > div {
    display: flex;
        flex-direction: row;
        align-items: center;
    margin-bottom: 10px;
    font-size: 1.4rem;
    
}

.login__container--social-media > div > img {
    width: 30px;
    margin-right: 10px;
}

.login__container--register {
    font-size: 14px;
    text-align: center;
}

.login__container--register a {
    font-size: 16px;
    font-weight: bold;
    color:white;
    text-decoration: none;
    margin-left: 5px;
}

.login__container--register a:hover {
    text-decoration: underline;
}

.input {
    background-color: transparent;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 2px solid white;
    font-size: 16px;
    font-family: 'Oxygen', sans-serif;
    margin-bottom: 20px;
    padding: 0 20px;
    outline: none;
    height: 50px;
    width: 100%;
    color: white;
}

::placeholder {
    color: white;
    font-size: 17px;
}

button {
    height: 50px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 25px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    color:#FBF7F0;
    letter-spacing: 1px;
}


footer {
    position:relative;
    display: flex;
        place-content: center space-around;
        flex-wrap: wrap;
    width: 100%;
    max-width: 650px;
    height: 100px;
    margin: 0 auto;
    text-align: center;

}

footer a {
    font-size: 14px;
    font-weight: 400;
    color: #FBF7F0;
    cursor:pointer;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 600px) {
    .header {
        height: 80px;
    }
    .header img {
        width: 150px;
    }
    .login__container {
        background-color: transparent;
        border:none;
        padding: 0px 25px 30px;
        width: 90%;
        min-width: 300px;
        min-height: 600px;
    }
    .footer {
        height: 80px;
        flex-direction: column;
        align-items: flex-start;
    }
}