@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: 'Oxygen', sans-serif;
  color: #FBF7F0;
}

body {
  background-color: #8F57FD;
  max-width: 900px;
  margin: 0 auto;
}

header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 8rem;
  padding: 1rem 3rem 0 2rem;
  /* background-image: linear-gradient( 129.1deg,  rgba(243,199,83,1) 26.8%, rgba(18,235,207,1) 114.1% ); */
}

.header__img {
  width: 20rem;
  /* margin-top: 1rem; */
}

.header__menu {
  font-size: 1.8rem;
  font-weight: bold;
  width: 100px;
  display: block;
  /* margin-top: 20px;  */
}

.header__menu--profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.header__menu--profile img {
  -webkit-filter: invert(1);
          filter: invert(1);
  width: 40px;
}

.header__menu ul {
  display: none;
  position: absolute;
  width: 100px;
  text-align: right;
  list-style: none;
}

.header__menu:hover ul, ul:hover {
  display: block;
}

.header__menu li a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #FBF7F0;
}

.header__menu li a:hover {
  text-decoration: underline;
}

.main {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.buscador {
  height: 300px;
  display: block;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
}

.buscador__title {
  font-size: 2.5rem;
}

.input {
  height: 50px;
  width: 70%;
  padding: 0 20px;
  margin: 30px 0;
  border: 2px solid  #FBF7F0;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.1);
  font-size: 1.6rem;
  color: #FBF7F0;
}

::-webkit-input-placeholder {
  color: #FBF7F0;
}

:-ms-input-placeholder {
  color: #FBF7F0;
}

::-ms-input-placeholder {
  color: #FBF7F0;
}

::placeholder {
  color: #FBF7F0;
}

/* -----Sección del carrusel----- */
.carousel {
  position: relative;
  width: 100%;
  padding: 30px;
  overflow: scroll;
}

.carousel__container {
  white-space: nowrap;
  margin: 70px 0px;
  padding-bottom: 10px;
}

.carousel-item {
  position: relative;
  display: inline-block;
  width: 200px;
  height: 260px;
  border-radius: 20px;
  background-color: aqua;
  /* Para que no se corte la imagen al crecer con hover */
  overflow: hidden;
  margin-right: 10px;
  cursor: pointer;
  /* Para darle suavidad a las transformaciones */
  -webkit-transition: 450ms all;
  transition: 450ms all;
  -webkit-transform-origin: center left;
          transform-origin: center left;
}

/* Para los efectos visuales del carrusel */
.carousel__item:hover ~ .carousel-item {
  -webkit-transform: translate3d(100px, 0, 0);
          transform: translate3d(100px, 0, 0);
}

.carousel__container:hover .carousel-item:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  opacity: 1;
}

.carousel__container:hover .carousel-item {
  opacity: 0.3;
}

::-webkit-scrollbar {
  display: none;
}

/* Estilizando cada Item */
.carousel-item__img {
  width: 200px;
  height: 260px;
  -o-object-fit: cover;
     object-fit: cover;
}

.carousel-item__details {
  position: absolute;
  /* top:0; */
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.9)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
  font-size: 10px;
  opacity: 1;
  -webkit-transition: 450ms opacity;
  transition: 450ms opacity;
}
/*# sourceMappingURL=style.css.map */